<div class="row">
    <create-activity-card activity-name="Unscramble" description="Drag and drop to put the sentences in the correct order."></create-activity-card>    
    <create-activity-card activity-name="Picker" description="Click the button to select a topic from a list."></create-activity-card>    
    <create-activity-card activity-name="Quiz" description="A multiple choice game where you have to click in the right alternative."></create-activity-card>   
    <create-activity-card activity-name="Tic Tac Toe" description="Choose your symbol and then click the square where you want it."></create-activity-card>   
</div>