<div class="row">
    <create-activity-breadcrumb activity-name="Picker"></create-activity-breadcrumb>
</div>
<div class="row">
    <div class="col-md-12">
        <form>
            <fieldset>
                <legend>Picker</legend>
                <div class="row">
                    <title-input></title-input>
                    <is-public-switch></is-public-switch>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Add your items and then play to pick them randomly</p>
                    </div>
                </div>
                <div class="row picker-itens">
                    <picker-item-input position="1"></picker-item-input>
                    <picker-item-input position="2"></picker-item-input>
                    <picker-item-input position="3"></picker-item-input>
                    <picker-item-input position="4"></picker-item-input>
                </div>
                <div class="row">
                    <add-button></add-button>
                </div>
                <div class="row mt-5">
                    <save-button></save-button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<script src="~/js/pages/picker-create.js"></script>