<div class="row">
    <create-activity-breadcrumb activity-name="TicTacToe"></create-activity-breadcrumb>
</div>
<div class="row">
    <div class="col-md-12">
        <form>
            <fieldset>
                <legend>TicTacToe</legend>
                <div class="row">
                    <title-input></title-input>
                    <is-public-switch></is-public-switch>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Write what will show in the squares when you play it</p>
                    </div>
                </div>
                <div class="row">
                    <tic-tac-toe-square-input position="1"></tic-tac-toe-square-input>
                    <tic-tac-toe-square-input position="2"></tic-tac-toe-square-input>
                    <tic-tac-toe-square-input position="3"></tic-tac-toe-square-input>
                    <tic-tac-toe-square-input position="4"></tic-tac-toe-square-input>
                    <tic-tac-toe-square-input position="5"></tic-tac-toe-square-input>
                    <tic-tac-toe-square-input position="6"></tic-tac-toe-square-input>
                    <tic-tac-toe-square-input position="7"></tic-tac-toe-square-input>
                    <tic-tac-toe-square-input position="8"></tic-tac-toe-square-input>
                    <tic-tac-toe-square-input position="9"></tic-tac-toe-square-input>
                </div>
                <div class="row mt-5">
                    <save-button></save-button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<script src="~/js/pages/tic-tac-toe-create.js" asp-append-version="true"></script>